body {
  font-family: Flaviotte, "Noto Sans TC", Georgia;
  font-weight: 500;
  line-height: 1.5;
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
img {
  width: 100%;
}
.inherit {
  color: inherit;
}
.eng-font {
  font-family: Flaviotte, Georgia;
}
ul,
li {
  list-style: none;
}

ul {
  padding: 0px;
}

p {
  margin: 0px;
  letter-spacing: 0.04em;
}
