body {
  font-family: "Noto Sans TC", Flaviotte, Georgia;
  font-weight: 500;
}
a {
  color: inherit;
}
img {
  width: 100%;
}
.inherit {
  color: inherit;
}
.eng-font {
  font-family: Flaviotte, Georgia;
}
