@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap);

@import "../../node_modules/bootstrap/scss/functions";
@import "./utils/variables";
@import "../../node_modules/bootstrap";

@import "./layout/header.scss";
@import "./layout/footer.scss";

@import "./pages/index.scss";
