// 定義變數
$medium: 768px;
$large: 992px;
$x-large: 1200px;

@mixin respond-to($size) {
  @media (max-width: $size) {
    @content;
  }
}

.section-breadcrumb {
  background-color: $dark-brown;
  padding: 0;
  margin: 64px 0;
  color: $primary-1;
  @include respond-to($medium) {
    margin: 40px 0;
  }
  .breadcrumb-item {
    a {
      opacity: 1;
      transition: 0.4s;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.section-barContent {
  color: $primary-1;
  padding: 0;
  .main-title {
    display: flex;
    gap: 20px;
    margin-bottom: 16px;
    .icon-list {
      display: flex;
      gap: 16px;
      span {
        font-size: 28px;
        color: #fff;
      }
    }
    .material-symbols-outlined {
      color: #fff;
      vertical-align: bottom;
      &:hover {
        font-variation-settings: "FILL" 1;
      }
    }
  }

  .tags {
    display: flex;
    gap: 16px;
    .tag {
      background-color: transparent;
      color: $primary-1;
      border: 1px solid $primary-1;
      transition: 0.4s;
      &:hover {
        background-color: $primary-3;
      }
    }
  }
}
