@import "../base/font.scss";

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),

    url(/assets/images/index-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


  &-content {
    margin: 0 auto;
    max-width: 1011px;
    padding-top: 464px;
    padding-bottom: 287px;
  }

  &-title {
    font-size: 72px;
    padding-bottom: 48px;
    text-align: center;
    color: $primary-1;
  }
}

@media(max-width:540px) {

  .banner {

    &-content {
      padding-top: 112px;
      padding-bottom: 112px;
    }


    &-title {

      font-size: 24px;
      margin-bottom: 24px;

    }

  }



}

.banner-btn {

  background: transparent;

  &:focus {
    background: $primary-3;
    border-image: linear-gradient(to right, #ffc93d, #b5650e) 1;

  }
}

@media(max-width:540px) {

  .banner {

    &-content {
      max-width: 297px;
    }


    &-btn {
      font-size: 12px;
      padding: 8px 12px;
    }

  }


}


.banner-selector-section {
  max-width: 596px;

  .btn {
    width: 110px;
  }
}

.banner-category {
  background: $neutral-3;
  font-size: 24px;
  padding-left: 18px;
  color: white;
}


.input-group {
  border: 0.8px solid $primary-1;

  .btn {
    display: flex;
    align-items: center;
    color: $primary-1;
  }
}

.form-control {
  background-color: transparent;
  padding: 24px;
  border: none;


  &::placeholder {
    color: $primary-1;
    font-size: 24px;
  }

  &:focus {
    background: transparent;
    border-color: $primary-1;
    box-shadow: $primary-1;
  }
}

.search {
  margin-left: 24px;
  max-width: 729px;

  &-result {
    align-items: center;

    &-items {
      background-color: $primary-1;

      .picked-items {
        align-items: center;
        padding: 6.5px 8px;
        color: $primary-4;


      }

      .items-close-btn {

        margin-left: 8px;
        color: $primary-4;

      }

    }

    &-clean a {
      color: $primary-1;
    }

  }
}


.webinfo-1 {

  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url(/assets/images/index-info.png);

  background-size: cover;
  background-position: center;
  // z-index: -2;

  .discover-container {
    padding: 48px 64px;
    align-items: center;
    gap: 80px;
  }

  .img-ctrl {
    // position: relative;
    // width: 50%;
    // height: 845px;
    border-radius: 300px 300px 0 0;
    background: transparent;



    // &::before {
    //   width: 100%;
    //   height: 100%;
    //   content: "";
    //   position: absolute;
    //   left: 24px;
    //   top: 24px;
    //   border-radius: 300px 300px 0 0;
    //   border: 1px solid transparent;
    //   background: linear-gradient(black, white) padding-box,
    //     linear-gradient(to bottom, #ffc93d, #b5650e) border-box;
    //   z-index: 1;
    // }
  }

  .discover-cocktail {
    padding-bottom: 120px;
  }

  .discover-img {
    // position: relative;
    // z-index: 2;
    // width: 100%;
    max-width: 563px;
    height: 100%;
    border-radius: 300px 300px 0px 0px;
    object-fit: cover;



  }

  .discover-text {
    width: 50%;
    line-height: 1.2;

    & p {
      padding-bottom: 64px;
    }
  }

  .discover-bar {
    &-img {
      width: 563px;
      height: 845px;
      border-radius: 300px 300px 0px 0px;
    }
  }
}

@media(max-width: 540) {
  .webinfo-1 {
    padding-top: 120px;
    padding-bottom: 120px;
  }

}

.btn-md {
  max-width: 248px;
  background: $primary-3;
  display: flex;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #ffc93d, #b5650e) 10;

}



.webinfo-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../assets/images/webinfo-3.jpg);
  padding-top: 325px;
  padding-bottom: 325px;
  background-size: cover;
  background-position: center;


  .join-input {
    padding-top: 48px;

    &-text {
      width: 597px;
      background: transparent;
      border: 0.8px solid $primary-1;

      &::placeholder {
        color: $primary-1;
      }
    }

    &-btn {
      color: $primary-1;
      background: $primary-3;
      padding: 24px 40px;
      border: 1px solid $primary-3;
      border-image: linear-gradient(to right, #ffc93d, #b5650e) 1;
      margin-left: 40px;
    }
  }
}

//
$medium: 768px;
$large: 992px;
$x-large: 1200px;

@mixin respond-to($size) {
  @media (max-width: $size) {
    @content;
  }
}

//swiper共用
.section {
  padding: 120px 0px;

  @include respond-to($medium) {
    padding: 40px 0 0;
  }
}

// .swiper {
//   max-width: 1296px;
// }

//熱門酒譜
.section-popular-recipes {
  .main-title {
    h2 {
      @include respond-to($large) {
        font-size: 20px;
      }
    }
  }

  .decoration {
    .wrap {
      width: 40px;
      height: 40px;

      @include respond-to($large) {
        width: 22px;
        height: 22px;
      }

      border-right: 1px solid $primary-4;
      border-bottom: 1px solid $primary-4;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        border-left: 1px solid $primary-4;
        border-top: 1px solid $primary-4;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(50%, 50%);

        @include respond-to($large) {
          width: 22px;
          height: 22px;
        }
      }
    }
  }

  .swiper {
    width: 100%;
  }

  .swiper-slide {
    max-width: 1296px;
    font-size: 18px;
    background-color: $primary-1;
    transition: 0.5s;

    @include respond-to($x-large) {
      max-width: 960px;
    }

    @include respond-to($large) {
      max-width: 295px;
    }

    &:hover {
      background-color: #fff;
    }

    img {
      max-width: 384px;

      @include respond-to($large) {
        max-width: 152px;
      }
    }

    .txt {
      width: 50%;

      @include respond-to($large) {
        width: auto;
      }

      .wine-name {
        h4 {
          @include respond-to($large) {
            font-size: 24px;
          }
        }
      }

      .wine-tags {
        font-size: 20px;

        @include respond-to($large) {
          font-size: 10px;
        }

        span {
          display: flex;
          align-items: center;
        }
      }

      .wine-intro {
        font-size: 24px;

        @include respond-to($large) {
          font-size: 12px;
        }
      }
    }

    .pic {
      width: 50%;

      @include respond-to($large) {
        width: auto;
      }
    }
  }

  .arrow {
    right: 48px;

    a {
      width: 80px;
      height: 80px;

      @include respond-to($large) {
        width: 40px;
        height: 40px;
      }
    }

    .material-symbols-outlined {

      // width: 40px;
      // height: 40px;
      @include respond-to($large) {
        font-size: 20px;
      }
    }
  }
}

// 熱門酒吧

.section-popular-bars {
  color: $primary-1;

  .main-title {
    h2 {
      @include respond-to($large) {
        font-size: 20px;
      }
    }
  }

  .content {
    padding: 96px 64px;

    @include respond-to($large) {
      padding: 64px 24px;
    }

    .txt-content {
      div {
        width: 50%;

        @include respond-to($large) {
          width: auto;
        }
      }
    }
  }

  .material-symbols-outlined {
    color: $primary-1;
  }

  .button-row {
    margin-top: 72px;
    margin-bottom: 24px;

    @include respond-to($large) {
      margin-top: 24px;
      margin-bottom: 20px;
    }

    .swiper-button {
      display: block;
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 2px solid #7f7973;
      display: flex;
      justify-content: center;
      align-items: center;

      @include respond-to($large) {
        width: 40px;
        height: 40px;
      }
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
      /* Hide default arrow icons */
    }
  }

  .swiper {
    min-height: 530px;
    display: flex;
    flex-direction: column;

    .swiper-wrapper {
      flex-grow: 1;

      // flex-direction: column; //swiper已經有下display:flex
      .swiper-slide {
        height: auto;
      }
    }

    img {
      height: 100%;
      object-fit: cover;
    }

    .tag {
      width: fit-content;
      color: $primary-4;
      font-size: 24px;
      padding: 12px 24px;
      background-color: $primary-1;

      @include respond-to($large) {
        font-size: 10px;
        padding: 4px 8px;
      }
    }

    .bar-pic {
      filter: brightness(0.7);
    }
  }

  .btn-big {
    padding: 24px 40px;
    background-color: $primary-3;
    font-size: 24px;
    transition: 0.5s;

    width: fit-content;

    @include respond-to($large) {
      padding: 8px 12px;
      font-size: 12px;
    }
  }

  .btn-big:hover {
    color: $primary-4;
    background-color: $primary-1;
    transition: 0.5s;

    .material-symbols-outlined {
      color: $primary-4;
    }
  }
}

//活動

.event {
  padding: 120px 0px;

  @media (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 0px;
  }

  &-title {
    margin-bottom: 120px;

    @media (max-width: 768px) {
      margin-bottom: 24px;
    }
  }

  &-content {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &-bg {
    width: 476px;
    background-image: linear-gradient(180.02deg,
        rgba(0, 0, 0, 0.8) 0.01%,
        rgba(0, 0, 0, 0) 50.5%,
        rgba(0, 0, 0, 0.8) 99.99%),
      url(../images/index-event-bg.png);
    //background-size: cover;
    background-size: 450% auto;
    background-position: right -650px top -200px;
    background-repeat: no-repeat;
    height: 1181px;

    @media (max-width: 768px) {
      width: 100%;
      height: 300px;
      background-size: cover;
      //background-size: 100% auto;
      background-position: center;
    }
  }

  &-list {
    width: 820px;
    height: 1209px;
    margin-top: -14px;
    margin-bottom: -14px;

    padding: 80px;

    @media (max-width: 768px) {
      width: 100%;
      margin-top: 0px;
      margin-bottom: 0px;
      height: auto;
      padding: 32px 24px;
    }

    &-content {
      gap: 32px;
      display: flex;
      flex-direction: column;
      margin-bottom: 120px;

      @media (max-width: 768px) {
        gap: 12px;
        margin-bottom: 40px;
      }
    }

    &-a {
      width: 100%;
      display: inline-block;

      &:hover {
        background: var(--bs-primary-2);
        transition: 0.5s;
      }

      &:focus {
        background: var(--bs-primary-3);
      }
    }

    &-card-date {
      width: 160px;
      padding: 12px 20px;
      margin-bottom: 16px;

      @media (max-width: 768px) {
        width: 85px;
        padding: 8px 12px;
      }
    }
  }

  &-btn {
    color: var(--bs-primary-1);

    &:hover {
      color: var(--bs-primary-2);
      transition: 0.5s;
    }

    &:active {
      color: var(--bs-primary-3);
    }
  }
}



//留言

.comments {
  padding: 120px 0px;

  @media (max-width: 768px) {
    padding: 40px 0px;
  }

  &-title {
    margin-bottom: 120px;

    @media (max-width: 768px) {
      margin-bottom: 24px;
    }
  }

  &-icon {
    color: #af1010;
  }

  &-list {
    padding: 120px 80px;
    flex-wrap: wrap;
    row-gap: 80px;
    column-gap: 34px;

    @media (max-width: 768px) {
      flex-wrap: nowrap;
      flex-direction: column;
      padding: 32px 24px;
      row-gap: 32px;
    }

    &-item {
      //width: 532px;
      width: calc(50% - 36px);
      padding: 24px 32px;

      @media (max-width: 768px) {
        width: 100%;
        //margin-top: 32px;
        //margin-bottom: 32px;
      }

      &-title img {
        width: 80px;
        height: 80px;
      }

      &-name {
        width: 100%;
      }

      &-text {
        height: 216px;

        @media (max-width: 768px) {
          height: 90px;
        }
      }
    }
  }

  &-divider {
    height: 458px;
    /* 間隔線高度，可以調整 */
    border: 0.5px solid rgba(181, 101, 14, 1);
    margin: auto 0px; //使間隔線居中

    @media (max-width: 768px) {
      height: 0px;
      border: 1.5px solid rgba(181, 101, 14, 1);
    }
  }

  &-divider-2 {
    height: 458px;
    /* 間隔線高度，可以調整 */
    border: 0.5px solid rgba(181, 101, 14, 1);
    margin: auto 0px; //使間隔線居中
    display: none;

    @media (max-width: 768px) {
      display: block;
      height: 0px;
      border: 1.5px solid rgba(181, 101, 14, 1);
    }
  }

}


.comments-list-item-btn {
  display: block;
  background: var(--bs-primary-3);
  transition: 0.5s;
  color: var(--bs-primary-1);
  border: 1px solid;
  border-image-source: linear-gradient(100.25deg, #ffc93d 4.04%, #b5650e 97.53%);
  border-image-slice: 1; //圖像切片設置
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 24px 40px;

  @media (max-width: 768px) {
    padding: 8px 12px;
    font-size: 12px;
  }

  &:hover {
    background: var(--bs-neutral-3);
    color: var(--bs-neutral-1);
    transition: 0.5s;
  }

  &:active {
    background: var(--bs-primary-4);
    transition: 0.5s;
  }

}