*,::after,*::before{
    //outline: 1px solid rgb(51, 61, 3);
  }

  .wine-content-title{
    margin-bottom: 120px;
  }


  @media (max-width: 768px) {
    .wine-content-methods{
        flex-direction: column;


    }    
  }


  .methods-item-1{
    max-width: 447px;
  }

  

  .methods-icon{
    width: 100%;
    padding: 24px 16px;
    gap: 32px;
    justify-content: center;
    margin-bottom: 0px;
    
  


  }
  .material-symbols-outlined{
    width: 40px;
    //height: 42px;
    text-align: center;
    font-size: 36px;

    
  }

  .methods-icon-item{
    align-items: center;
    gap: 12px;
  }
  .methods-icon-item p{
    line-height: 1;
  }


 .wine-content-methods{
    gap: 96px;
 }

 .methods-tags{
    gap: 24px;
 }

 .btn-tags{
   display: block;
   border: 1px solid var(--bs-primary-3);
   background: #2e2828;
   padding: 8px 24px 8px 24px;
   border-radius: 100px 100px 100px 100px;
 }

 .methods-item-2{
    max-width: 753px;
 }
.step-comtent{
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 0px;

}
.step-comtent li{
    list-style: disc;
   
    
}

.methods-item-2-step{
    border: 1px solid $primary-3;
    //position: relative;
}

.step-title{
    width: 228px;
    background: $primary-3;
    //position: absolute;
}

//品酒討論區

.wine-comments{
    padding: 120px 0px;
}
@media (max-width: 768px) {
    .wine-comments{
        padding: 40px 0px;
    }
}

.wine-comments img{
    width: 80px;
    height: 80px;
}

.form-item{
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  position: relative;
}

.form-answer{
  max-width: 1136px;
  height: 102px;
  padding: 24px;
  
}

.form-answer-btn{
  position: absolute;
  right: 150px;


}

//留言


/* 使用者信息區塊 */
.user-info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;
}

.avatar {
  width: 80px;
  height: 80px;
 
}

/* 留言框區塊 */
.comment-box {
  border: 1px solid #9b5b34;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  
}

/* 留言輸入框設置 */
textarea {
  width: 100%;
  height:100%;
  border-radius: 5px;
  //border: none; //隱藏留言框線
  resize: none; //隱藏留言框下拉圖示
  //outline: 1px solid $primary-4; //隱藏點擊時的框線
  padding: 10px;
  font-size: 20px; //手機12px
  color: #888;
  display: flex; //讓留言框和父層高度一致
}

.comment-footer {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.char-count {
  font-size: 12px;
  color: #b0a394;
}

/* 送出按鈕樣式 */
.submit-btn {
  background: none;
  height:100%;
  border: none;
  color: #9b5b34;
}

.submit-btn:hover {
  color: $primary-4;
}

//

.comment-list{
  flex-direction: column;
  gap: 40px;
  margin-top: 48px;
  margin-bottom: 72px;

}

.comment-item{
  gap: 20px;
  color: $neutral-1;

}

.comment-area{
  background: $primary-3;
  padding: 12px 24px;
  border-radius: 20px;
}

.comment-btn{
  color: $primary-4;
}

.comment-btn:hover{
  color: $primary-3;
}

.comment-btn:active{
  color: $neutral-3;
}