<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>找酒吧</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="nearby-event bg-primary-4">
      <div class="container py-15">
        <h3 class="fs-lg-3 fs-md-5 fs-8 text-center text-primary-1 pb-4">
          Latest Events Around You
        </h3>
        <h3 class="fs-lg-2 fs-md-4 fs-7 text-center text-primary-1 pb-15">你周圍的最新活動</h3>
        <div class="swiper mySwipe">
          <div class="swiper-wrapper w-75 m-auto">
            <div class="swiper-slide nearby-card me-12 text-start">
              <img src="/assets/images/bar-nearby-1.jpg" alt="bar">
              <div class="card-body d-flex py-12 px-10 flex-column justify-content-between">
                <h5 class="card-title fs-lg-3 text-neutral-1">Mono Mono</h5>
                <div class="mt-auto">
                  <a href="#" class="bg-primary-1 py-3 px-5 text-primary-4 mb-5">週五 9/13</a>
                  <p class="card-text text-neutral-1 mb-11 fs-lg-6">TGIF!! 邀請世界知名 DJ Anderson和多位饒舌歌手一起迎接假日，還享限定優惠！</p>
                  <a href="#" class="d-flex fs-5 text-primary-1 align-items-center">查看更多<span
                      class="material-symbols-outlined fs-lg-5 inherit ps-4">
                      arrow_forward_ios
                    </span></a>
                </div>
              </div>
            </div>
            <div class="swiper-slide nearby-card text-start">
              <img src="/assets/images/bar-nearby-2.jpg" alt="bar">
              <div class="card-body d-flex py-12 px-10 flex-column justify-content-between">
                <h5 class="card-title fs-lg-3 text-neutral-1">隱士餐酒館</h5>
                <div class="mt-auto">
                  <a href="#" class="bg-primary-1 py-3 px-5 text-primary-4 mb-5">週二 9/17</a>
                  <p class="card-text text-neutral-1 mb-11 fs-lg-6">週二夜限定！來餐酒館享受特調雞尾酒買一送一，讓週中夜晚更愉快！</p>
                  <a href="#" class="d-flex fs-5 text-primary-1 align-items-center">查看更多<span
                      class="material-symbols-outlined fs-lg-5 inherit ps-4">
                      arrow_forward_ios
                    </span></a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">Slid
              <div class="nearby-img-3"></div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
    </div>
    <%- include('./layout/footer'); -%>
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

      <!-- Initialize Swiper -->
      <script>
        const swiper = new Swiper(".mySwiper", {
          loop: true,
          slidesPerView: 'auto',
          spaceBetween: 72,
          slidesPerView: 2,
          slidesPerGroup: 2,
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });

      </script>

      <script type="module" src="../main.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>