<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>recipse</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="section-rs1">
      <div class="container">
        <div class="banner-rs">
          <h1
            class="fw-bold text-primary-1 position-relative text-center z-3 py-lg-6 my-180"
          >
            在家調出酒吧級質感，品味專屬調酒
          </h1>
        </div>
      </div>
    </div>
    <div class="section-rs2">
      <div class="container">
        <div class="row">
          <div class="col-12 mt-lg-15">
            <h2 class="fw-bold text-primary-1 text-center mb-lg-15">
              輕鬆篩選，找到你的完美調酒
            </h2>
            <div class="row align-items-center">
              <div class="col-1">
                <h5 class="text-primary-1">基酒</h5>
              </div>
              <div class="col-11">
                <div
                  class="border border-primary-3 rounded-pill py-lg-6 ps-lg-6"
                >
                  <a href="#">
                    <span
                      class="material-symbols-outlined text-primary-3 align-bottom"
                    >
                      arrow_back_ios
                    </span>
                  </a>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic outlined example"
                  >
                    <button
                      type="button"
                      class="btn btn-outline-primary-3 rounded-pill me-lg-6 fs-lg-6 py-lg-3 px-lg-6"
                    >
                      琴酒
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-primary-3 rounded-pill me-lg-6 fs-lg-6 py-lg-3 px-lg-6"
                    >
                      伏特加
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-primary-3 rounded-pill me-lg-6 fs-lg-6 py-lg-3 px-lg-6"
                    >
                      白蘭地
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
